[submodule "src/VTFLib"]
	path = src/VTFLib
	url = https://github.com/StrataSource/VTFLib
[submodule "src/video_services"]
	path = src/video_services
	url = https://github.com/theKlaxon/video_services.git
