# Prerequisites
*.d
*.sln

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug + VS Folders
src/game/client/Release*
src/game/client/Debug*
src/game/server/Debug*
src/game/server/Release*

*.vpc.sentinel
*.VC
*.VC.VC.opendb
*.VC.db
*.pdb
*.mdmp
src/.vs
